<p-panel header="Pipes básicos" class="p-1">
  <p>
    Pipes incluidos en Angular - Usualmente en Common Module
  </p>
</p-panel>

<div class="grid mt-2">
  <div class="col-12 md:col-4">
    <p-card header="Uppercase">
      {{namelower}}
      sí
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Lowercase">
      {{nameupper}}
      queseso
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Titlecase">
      {{fullname}}
      hola
    </p-card>
  </div>
  <div class="col-12 md:col-4">
    <p-card header="Date">
      <ol>
        <li>{{customDate}}</li>
        <li>{{customDate | date:'short':'GMT-5'}}</li>
        <li>{{customDate | date:'long':'':'es-PE'}}</li>
        <li>{{customDate | date:'long':'':'fr-CA'}}</li>
      </ol>
    </p-card>
  </div>

</div>
